certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
packaging==24.2
python-dotenv==1.0.1
requests==2.32.3
rocketchat_API==1.35.0
urllib3==2.3.0
rocketchat-async==4.2.0
pymongo==4.6.3
python-json-logger==3.3.0