annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
idna==3.10
packaging==24.2
pydantic==2.10.6
pydantic_core==2.27.2
pymongo==4.6.3
python-dotenv==1.0.1
python-json-logger==3.3.0
requests==2.32.3
rocketchat-async==4.2.0
rocketchat_API==1.35.0
typing_extensions==4.12.2
urllib3==2.3.0
websockets==10.4
tg-logger==3.3